name: "Compile TeX"

on: workflow_dispatch

jobs:
  compile:
    name: "Compile TeX"
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: actions/checkout@v3

      - uses: xu-cheng/latex-action@v2
        with:
          root_file: |
            SM/SM.tex
            VAR-MIRI/VAR-MIRI.tex
            CN/CN.tex
            IA-M/IA-M.tex
            CA-T/CA-T.tex
            GIP-M/GIP-M.tex
            RO-M/RO-M.tex
            uE-1/uE-1.tex
            IS-T/IS-T.tex
            ET-T/ET-T.tex
            SO-T/SO-T.tex
            SO-M/SO-M.tex
            SI-M/SI-M.tex
            CE-M/CE-M.tex
            EN-T/EN-T.tex
          work_in_root_file_dir: true
          continue_on_error: true

      - uses: actions/upload-artifact@v3
        with:
          name: "PDFs"
          path: "./**/*.pdf"
